<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<div class="w-100 pt-5  " >

<div class="container">
	<div class="row">
        <div class="col-md-12">

<div class="alert alert-secondary" role="alert">
        <h4>liste des fonctionnaires </h4>
				<div class="float-right">
         <a class="btn btn-light " ali  value="add new reunion" routerLink="/paie" >
          <span class="fa fa-plus fa-2x" aria-hidden="true"></span>

        </a>
				</div><br>

				<div class="form-group has-search ">
					<input type="text" class="form-control" placeholder="recherche par nom "
[(ngModel)]='nom'  (input)="searchs()" />
        </div>
        

				</div>




        <div class="table-responsive">


              <table id="mytable" class="table table-bordred table-striped">

                   <thead>

                   <th class="alert alert-info">name</th>
									 <th class="alert alert-info">Mois </th>
                    <th class="alert alert-info">Date</th>
                     <th class="alert alert-info">salaire Net</th>

                       <th  class="alert alert-secondary" >edit</th>
											 <th  class="alert alert-danger" >delete</th>
                       <th  class="alert alert-primary" >profils</th>
                   </thead>
    <tbody>


			<tr *ngFor="let paie of paies | paginate:{ itemsPerPage: 6, currentPage: p }">

    <td><i>{{paie.home.nom}} </i></td>
		<td><i>{{paie.mois}}</i></td>
    <td><i>{{paie.date}}</i></td>
    <td><i>{{paie.affiche}}</i></td>

<!-- BUG: button edit -->
    <td><a class="btn btn-secondary btn-xs"   routerLink="/paie/{{paie.id}}" >
			<span class="glyphicon glyphicon-edit"></span>	</a>
		</td>
<!-- BUG:  button delete -->



    <td>
			<button class="btn btn-danger btn-xs">
			<a data-placement="top" data-toggle="tooltip" title="Delete"  (click)="destroy(paie.id)"
>	<span class="glyphicon glyphicon-trash"></span>
		</a></button>
	</td>
  <td>
    <a class="btn btn-primary btn-xs "   routerLink="/showpaie/{{paie.id}}" >
			<span class="glyphicon glyphicon-eye-open"></span>	</a>
  </td>


    </tr>
    </tbody>
		<pagination-controls (pageChange)="p=$event">
		 </pagination-controls>
</table>

            </div>

        </div>
	</div>
</div>
</div>
