
<div class="w-100 pt-5  " >

  <div class="container-fluid bg-light py-3">
      <form id="contact-form" (ngSubmit)="f.form.valid && savePaie()" #f="ngForm" novalidate >
          <div class="messages"></div>
          <div class="controls">
              <div class="row">

                  
                  <div class="col-sm-4">
                    <label for="form_name"> nom*</label>
                    <select id="home_id" class="form-control" placeholder="home_id*"
                     [(ngModel)]='paie.home_id' name="nom"
                     autocomplete="off" 

                     required
                   [ngClass]="{'is-invalid':f.submitted && home_id.invalid}" #home_id="ngModel"
                     >
                     <div *ngIf="f.submitted && home_id.invalid" class="invalid-feedback">
                                          <div *ngIf="home_id.errors.required">ce champs est obligatoire </div>
                                      </div>
                      
                  <option  [ngValue]="home.id" *ngFor="let home of homes">{{ home.nom }} </option>

                        </select>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                          <label for="form_date">date *</label>
                          <input id="form_date" type="date" name="date"
                          [(ngModel)]='paie.date'
                          autocomplete="off" 
                           required
                           class="form-control" placeholder="date*"
                           [ngClass]="{'is-invalid':f.submitted && date.invalid}" #date="ngModel"
                             >
                             <div *ngIf="f.submitted && date.invalid" class="invalid-feedback">
                                                  <div *ngIf="date.errors.required">ce champs est obligatoire </div>
                                              </div>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                          <label for="form_name">mois *</label>
                          <input id="form_name" type="date" name="mois"
                          [(ngModel)]='paie.mois'
                          autocomplete="off" 
                           required
                           class="form-control" placeholder="mois*"
                           [ngClass]="{'is-invalid':f.submitted && mois.invalid}" #mois="ngModel"
                             >
                             <div *ngIf="f.submitted && mois.invalid" class="invalid-feedback">
                                                  <div *ngIf="mois.errors.required">ce champs est obligatoire </div>
                                              </div>
                      </div>
                  </div>



                  <div class="col-sm-4">
                      <div class="form-group">
                          <label for="form_salaire">Salaire *</label>
                          <input id="form_salaire" type="number" name="salaire" class="form-control"
                          placeholder="salaire*" [(ngModel)]='paie.salaire'
                          autocomplete="off" 
                          required
                        [ngClass]="{'is-invalid':f.submitted && salaire.invalid}" #salaire="ngModel"
                          >
                          <div *ngIf="f.submitted && salaire.invalid" class="invalid-feedback">
                                               <div *ngIf="salaire.errors.required">ce champs est obligatoire </div>
                                               </div>

                      </div>
                  </div>

                  <div class="col-sm-4">
                      <div class="form-group">
                          <label for="form_prime">Prime*</label>
                          <input id="form_prime" type="number" name="prime" class="form-control"
                          placeholder="Prime *" [(ngModel)]='paie.prime '
                          autocomplete="off" 
                          required
                        [ngClass]="{'is-invalid':f.submitted && prime.invalid}" #prime="ngModel"



                          >
                          <div *ngIf="f.submitted && prime.invalid" class="invalid-feedback">
                                               <div *ngIf="prime.errors.required">ce champs est obligatoire </div>
</div>
                      </div>
                  </div>

                  <div class="col-sm-4">
                      <div class="form-group">
                          <label for="form_affiche">Salaire Net*</label>
                          <textarea class="form-control" cols="1" id="affiche"
                           name="affiche" rows="1"
                           autocomplete="off" 
                          [(ngModel)]='paie.affiche'
                          placeholder=" ce champs doit obligatoire reste vide*"
                          >
                            {{affiche}} </textarea>
                              <div class="help-block with-errors"></div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-md-12">
                  <input type="submit" class="btn btn-primary btn-send"   value="Send message" >

                  <button (click)="refresh()">Refresh</button>
              </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <a routerLink="/salaire">liste des personnes </a>
            </div>
        </div>
      </form>
  </div>

</div>
