<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>{{reunion.nom}}</h1></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->

        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><p data-toggle="tab">Reunion</p></li>
              </ul>


          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                  <form class="form" action="##" method="post" id="registrationForm">
                      <div class="form-group">

                          <div class="col-xs-6">
                            <div class="alert alert-light" role="alert">
          <strong>  nom *:</strong>
          </div>
          <div class="alert alert-info" role="alert">
           <i>{{reunion.home.nom}}</i>
          </div>

                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                            <div class="alert alert-light" role="alert">
          <strong>  date*:</strong>
          </div>
          <div class="alert alert-info" role="alert">
           <i>{{reunion.date}}</i>
          </div>

                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                            <div class="alert alert-light" role="alert">
          <strong>horaire*:</strong>
          </div>
          <div class="alert alert-info" role="alert">
           <i>{{reunion.horaire}}</i>
          </div>
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                            <div class="alert alert-light" role="alert">
                      <strong>sujet*:</strong>
                      </div>
                      <div class="alert alert-info" role="alert">
                      <i>{{reunion.sujet}}</i>
                      </div>
                          </div>
                      </div>



              	</form>

              <hr>

             </div><!--/tab-pane-->
