<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<div class="w-100 pt-5  " >

<div class="container">
	<div class="row">
        <div class="col-md-12">

<div class="alert alert-secondary" role="alert">
        <h4>liste des fonctionnaires </h4>
				<div class="float-right">
				 <a class="btn btn-light " ali  value="add new reunion" routerLink="/home" > 
					
					<span class="fa fa-plus fa-2x" aria-hidden="true"></span>
					
					</a>
				</div><br>

				<div class="form-group has-search ">
					<input type="text" class="form-control" placeholder="Search"
[(ngModel)]='cin'  (input)="searchs()" />
				</div>

				
				</div>



        <div class="table-responsive">


              <table id="mytable" class="table table-bordred table-striped">

                   <thead>


                   <th class="alert alert-info">CIN</th>
				   <th class="alert alert-info">Nom</th>
                    <th class="alert alert-info">Prenom</th>
                     <th class="alert alert-info">type de contrat</th>
                     <th class="alert alert-info">departement</th>
                     <th class="alert alert-info" >Poste</th>
                      <th   class="alert alert-secondary" >Edit</th>
                       <th  class="alert alert-danger" >Delete</th>
						 <th  class="alert alert-primary" >profils</th>
                   </thead>
    <tbody>

			<tr *ngFor="let home of homes | paginate:{ itemsPerPage: 6, currentPage: p }">


    <td><i> {{home.cin}}</i></td>
	<td><i>{{home.nom}}</i></td>
    <td><i>{{home.prenom}}</i></td>
    <td><i>{{home.typ}}</i></td>
    <td><i>{{home.departement}}</i></td>
    <td><i>{{home.poste}}</i></td>




    <td><a   class="btn btn-secondary btn-xs" routerLink="/home/{{home.id}}">
			<span class="glyphicon glyphicon-edit"></span>

		</a>

		</td>

    <td>
			<button class="btn btn-danger btn-xs"(click)="destroy(home.id)">
			<a data-placement="top" data-toggle="tooltip" title="Delete">	<span class="glyphicon glyphicon-trash"></span>
		</a></button>
	</td>
	<td>
		<a  class="btn btn-primary btn-xs"   routerLink="/profils/{{home.id}}" >
			<span class="glyphicon glyphicon-eye-open"></span>	</a>
	</td>
    </tr>
    </tbody>
		<pagination-controls (pageChange)="p=$event">
		 </pagination-controls>
</table>
            </div>

        </div>
	</div>
</div>

</div>
