<nav class="navbar ">
  <a class="navbar-brand">Gestion Ressource Humaine </a>
  <div>
    <a class="navbar-brand" routerLink="/welcome" *ngIf="loggedIn">Accuiel</a>
    <a class="navbar-brand"  routerLink="/login"  *ngIf="!loggedIn">Login</a>
    <a class="navbar-brand" routerLink="/home" *ngIf="loggedIn">home</a>
    <a class="navbar-brand" routerLink="/paie" *ngIf="loggedIn">Paie</a>
    <a class="navbar-brand" routerLink="/reunion" *ngIf="loggedIn">reunion</a>
    <a class="navbar-brand" routerLink="/ordre" *ngIf="loggedIn">mission</a>
    <a class="navbar-brand" routerLink="/conge" *ngIf="loggedIn">conge</a>



    <a class="navbar-brand btn-xs" routerlink="/login" (click)="logout($event)"
     *ngIf="loggedIn"><i class="fa fa-sign-out" aria-hidden="true"></i>
     </a>

     
  </div>

</nav>
