<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
  <title>profils</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1><span class="glyphicon glyphicon-user"></span>{{conge.nom}}</h1>

      </div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->





          <div class="panel panel-default">
            <div class="panel-heading">admin <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-heading">nombre du jour 
               <i class="fa fa-link fa-1x"> {{conge.resultats}}</i></div>

          </div>




        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><p data-toggle="tab" >
<span class="glyphicon glyphicon-user"></span>
                  Profils</p></li>

              </ul>


          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                  <form class="form" action="##" method="post" id="registrationForm">
                      <div class="form-group">

                          <div class="col-xs-5  " >
                            <div class="alert alert-light" role="alert">
         <strong>  CIN*:</strong>
        </div>
        <div class="alert alert-info" role="alert">
           <i>{{conge.cin}}</i>
        </div>
                          </div>
                      </div>
                      <div class="form-group">

                        <div class="col-xs-5  " >
                          <div class="alert alert-light" role="alert">
       <strong>  Prenom*:</strong>
      </div>
      <div class="alert alert-info" role="alert">
         <i>{{conge.prenom}}</i>
      </div>
                        </div>
                      </div>

                      <div class="form-group">

                        <div class="col-xs-5  " >
                          <div class="alert alert-light" role="alert">
       <strong>  Nom*:</strong>
      </div>
      <div class="alert alert-info" role="alert">
         <i>{{conge.nom}}</i>
      </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-xs-5  " >
                          <div class="alert alert-light" role="alert">
       <strong>  Genre de Congé *:</strong>
      </div>
      <div class="alert alert-info" role="alert">
         <i>{{conge.genreconge}}</i>
      </div>
                        </div>
                      </div>
                      <div class="form-group">

                        <div class="col-xs-5  " >
                          <div class="alert alert-light" role="alert">
       <strong>  conge de formation*:</strong>
      </div>
      <div class="alert alert-info" role="alert">
         <i>{{conge.congeformation}}</i>
      </div>
                        </div>
                      </div>
                      <div class="form-group">

                        <div class="col-xs-5  " >
                          <div class="alert alert-light" role="alert">
       <strong>  Conge Citoyen *:</strong>
      </div>
      <div class="alert alert-info" role="alert">
         <i>{{conge.congecitoyen}}</i>
      </div>
                        </div>
                      </div>
                      <div class="form-group">

                        <div class="col-xs-5  " >
                          <div class="alert alert-light" role="alert">
       <strong>  Date de sortie*:</strong>
      </div>
      <div class="alert alert-info" role="alert">
         <i>{{conge.dates}}</i>
      </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-xs-5  " >
                          <div class="alert alert-light" role="alert">
       <strong>  Date d'entrée*:</strong>
      </div>
      <div class="alert alert-info" role="alert">
         <i>{{conge.datee}}</i>
      </div>
                        </div>
                      </div>

              	</form>

              <hr>

             </div><!--/tab-pane-->
          <!--/tab-pane-->


              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->



    <div class="container">
        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker3'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker3').datetimepicker({
                        format: 'LT'
                    });
                });
            </script>
        </div>
    </div>
