<h2>Login</h2>
<form (ngSubmit)="f.form.valid && savelog() " #f="ngForm" novalidate>
    <div class="">
        <label for="username">Email</label>
        <input type="text"  class="form-control" ngModel='login.email'

          [ngClass]="{'is-invalid':f.submitted && email.invalid}"
        #email="ngModel" name="email" placeholder="email@gmail.com"
       required
       autocomplete="off"      />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Username is required</div>
        </div>
    </div>
    <div class="">
        <label for="password">Password</label>
        <input type="password"  class="form-control"  
        
        [ngClass]="{'is-invalid':f.submitted && password.invalid}" #password="ngModel"
    ngModel='login.password'  #password="ngModel" name="password" placeholder="password"
required
autocomplete="off"  />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="">
        <button class="btn btn-primary" type="submit" >Login</button>
        <a [routerLink]="['/register']" class="btn btn-link">Register</a>
    </div>
</form>
