<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="box">
    <div class="container">
     	<div class="row">
			 
			    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>
                        
						<div class="title">
							<h4>calendrie</h4>
						</div>
                        
						<div class="text">
							<span>calendries des employeurs</span>
						</div>
                        
						<a routerLink="/demo">calendrie</a>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
					    
					    <i class="fa fa-comment fa-3x" aria-hidden="true"></i>
                    
						<div class="title">
							<h4>Editor</h4>
						</div>
                        
						<div class="text">
							<span>commentaires des employeurs.</span>
						</div>
                        
						<a routerLink="/notes">Commentaire</a>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <i class="fa fa-try fa-3x" aria-hidden="true"></i>
                        
						<div class="title">
							<h4>Congé</h4>
						</div>
                        
						<div class="text">
							<span>congé ..............................</span>
						</div>
                        
						<a routerLink="/affiche">congé</a>
                        
					 </div>
				</div>	 
				
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <i class="fa fa-money -p fa-3x" aria-hidden="true"></i>
                        
						<div class="title">
							<h4>paiements</h4>
						</div>
                        
						<div class="text">
							<span>paiement par mois .</span>
						</div>
                        
						<a routerLink="/salaire">paiements</a>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
					    
					    <i class="fa fa-bandcamp fa-3x" aria-hidden="true"></i>
                    
						<div class="title">
							<h4>reunion</h4>
						</div>
                        
						<div class="text">
							<span>page des reunions </span>
						</div>
                        
						<a routerLink="/union">reunion</a>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <i class="fa fa-group fa-3x" aria-hidden="true"></i>
                        
						<div class="title">
							<h4>employeurs</h4>
						</div>
                        
						<div class="text">
							<span>les coordonnoes et les contrats .</span>
						</div>
                        
						<a routerLink="/recrute">home</a>
                        
					 </div>
				</div>
		
		</div>		
    </div>
</div>