<form id="contact-form" (ngSubmit)="saveFull()  "    >
  <div class="form-row">
<div >
<full-calendar
  #calendar
  #fc
  defaultView="dayGridMonth"
  [header]="{
    left: 'prev,next today',
    center: 'title',
    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
  }"
  [plugins]="calendarPlugins"
  [weekends]="calendarWeekends"
  [events]="calendarEvents"
 
 
 
></full-calendar>
</div>


     
            <div class="col">
              <input type="text" class="form-control"
              
              name="start" 
              [(ngModel)]='calendre.start'   
              type="date" id="date-picker-example"
                

              
              >
            </div>
            <div class="col">
              <input type="text" id="disabled-input" type="text" size="30"  placeholder=""

name="title" class="form-control"
          [(ngModel)]='calendre.title'
         [disabled]="disabled" 
          
              >

              <span id="disabled-btn" type="button" (click)="toggleDisabled()" pButton label="active events"></span>

            </div>

            <div class="col">
                <input type="submit" class="btn btn-primary btn-send"  value="ajoute date" >
            </div>


          </div>
        </form>



<table class="table">
    <thead>
      <tr>
   
        <th scope="col">Operation</th>
        <th scope="col">Date</th>
        <th scope="col">delete</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let calendre of calendres">
        
        <td>{{calendre.title}}</td>
        <td>{{calendre.start}}</td>
       

        
        <td>
        <button class="btn btn-danger btn-xs" (click)="destroy(calendre.id)">Delete!</button>
      </td>

      </tr>
     
    </tbody>
  </table>
  
