


<div class="w-100 pt-5  " >

  <div class="container-fluid bg-light py-3">
      <form id="contact-form" (ngSubmit)="f.form.valid && saveReunion()" #f="ngForm" novalidate >
          <div class="messages"></div>
          <div class="controls">
              <div class="row">
                  <div class="col-sm-4">
                    <label for="form_name"> nom *</label>
                    <select id="home_id" class="form-control" placeholder="home_id*"
                     [(ngModel)]='reunion.home_id' name="home_id"

                     required
                   [ngClass]="{'is-invalid':f.submitted && home_id.invalid}" #home_id="ngModel"
                     >
                     <div *ngIf="f.submitted && home_id.invalid" class="invalid-feedback">
                                          <div *ngIf="home_id.errors.required">ce champs est obligatoire </div>
                                      </div>
                      
                  <option  [ngValue]="home.id" *ngFor="let home of homes">{{ home.nom }} </option>

                        </select>
                  </div>

                  <div class="col-sm-4">
                      <div class="form-group">
                          <label for="form_date">date *</label>
                          <input id="form_date" type="date" name="date"
                          [(ngModel)]='reunion.date'
                           required
                           class="form-control" placeholder="date*"
                           [ngClass]="{'is-invalid':f.submitted && date.invalid}" #date="ngModel"
                             >
                             <div *ngIf="f.submitted && date.invalid" class="invalid-feedback">
                                                  <div *ngIf="date.errors.required">ce champs est obligatoire </div>
                                              </div>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                          <label for="form_name">horaire *</label>
                          <input id="form_name" type="time" name="horaire"
                          [(ngModel)]='reunion.horaire'
                           required
                           class="form-control" placeholder="horaire*"
                           [ngClass]="{'is-invalid':f.submitted && horaire.invalid}" #horaire="ngModel"
                             >
                             <div *ngIf="f.submitted && horaire.invalid" class="invalid-feedback">
                                                  <div *ngIf="horaire.errors.required">ce champs est obligatoire </div>
                                              </div>
                      </div>
                  </div>

                  <div class="col-sm-12">
                      <div class="form-group">
                          <label for="form_phone">Sujet *</label>
                          <textarea class="form-control" cols="1" id="resultats"
                           name="resulats" rows="3"
                          [(ngModel)]='reunion.sujet'
                          placeholder=" sujet*"
                          >
                         </textarea>
                              <div class="help-block with-errors"></div>
                      </div>
                  </div>



              </div>
          </div>

          <div class="row">
              <div class="col-md-12">
                  <input type="submit" class="btn btn-primary btn-send"   value="Send message" >
              </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <a routerLink="/union">liste des personnes </a>
            </div>
        </div>
      </form>
  </div>

</div>
