/* Article:  https://superdevresources.com/full-background-image-css/ */
body {
    background: url(https://superdevresources.com/wp-content/uploads/2015/12/new-york-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin: 40px auto;
    background: rgba(22,22,22, 0.5);
    width: 100%;
    max-width: 960px;
    border-radius: 5px;
    padding-bottom: 32px;
  }
  
  