<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>{{home.nom}}</h1></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->







<div class="panel panel-default">
    <div class="panel-heading">information personnel <i class="fa fa-link fa-1x"></i></div>
          <ul class="list-group">
            <li class="list-group-item text-right"><span class="pull-left"><strong>Prenom</strong></span> {{home.prenom}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Adresse</strong></span> {{home.adresse}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>date de naissance</strong></span> {{home.date}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Telephone</strong></span>  {{home.telephone}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>email</strong></span>  {{home.email}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Telephone</strong></span>  {{home.telephone}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>situations</strong></span>  {{home.situations}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>civilité</strong></span>  {{home.civilite}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>code postal</strong></span>  {{home.code}}</li>




          </ul>
  </div>


        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><p data-toggle="tab">Profils</p></li>
              </ul>


          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                  <form class="form" action="##" method="post" id="registrationForm">
                      <div class="form-group">

                          <div class="col-xs-6">
                            <div class="alert alert-light" role="alert">
          <strong>  Departement*:</strong>
          </div>
          <div class="alert alert-info" role="alert">
           <i>{{home.departement}}</i>
          </div>

                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                            <div class="alert alert-light" role="alert">
          <strong>  Salaire de base*:</strong>
          </div>
          <div class="alert alert-info" role="alert">
           <i>{{home.sl}}</i>
          </div>

                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                            <div class="alert alert-light" role="alert">
          <strong>Duration*:</strong>
          </div>
          <div class="alert alert-info" role="alert">
           <i>{{home.duration}}</i>
          </div>
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                            <div class="alert alert-light" role="alert">
                      <strong>Date debut*:</strong>
                      </div>
                      <div class="alert alert-info" role="alert">
                      <i>{{home.dated}}</i>
                      </div>
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                            <div class="alert alert-light" role="alert">
                      <strong>lieu*:</strong>
                      </div>
                      <div class="alert alert-info" role="alert">
                      <i>{{home.lieu}}</i>
                      </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-6">
                            <div class="alert alert-light" role="alert">
                      <strong>Date Fin*:</strong>
                      </div>
                      <div class="alert alert-info" role="alert">
                      <i>{{home.datef}}</i>
                      </div>
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                            <div class="alert alert-light" role="alert">
                      <strong>mois*:</strong>
                      </div>
                      <div class="alert alert-info" role="alert">
                      <i>{{home.mois}}</i>
                      </div>
                          </div>
                      </div>


                      <div class="form-group">
                          <div class="col-xs-6">
                            <div class="alert alert-light" role="alert">
                      <strong>Type de contrats *:</strong>
                      </div>
                      <div class="alert alert-info" role="alert">
                      <i>{{home.typ}}</i>
                      </div>
                          </div>
                      </div>




                      <div class="form-group">
                          <div class="col-xs-6">
                            <div class="alert alert-light" role="alert">
                      <strong>semaine *:</strong>
                      </div>
                      <div class="alert alert-info" role="alert">
                      <i>{{home.semaine}}</i>
                      </div>
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                            <div class="alert alert-light" role="alert">
                      <strong>poste*:</strong>
                      </div>
                      <div class="alert alert-info" role="alert">
                      <i>{{home.poste}}</i>
                      </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-6">
                            <div class="alert alert-light" role="alert">
                      <strong>Horaire*:</strong>
                      </div>
                      <div class="alert alert-info" role="alert">
                      <i>{{home.horaire}}</i>
                      </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-6">
                            <div class="alert alert-light" role="alert">
                      <strong>Paie*:</strong>
                      </div>
                      <div class="alert alert-info" role="alert">
                      <i>{{home.paie}}</i>
                      </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-6">
                            <div class="alert alert-light" role="alert">
                      <strong>Numero carte bancaire*:</strong>
                      </div>
                      <div class="alert alert-info" role="alert">
                      <i>{{home.numero}}</i>
                      </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-6">
                            <div class="alert alert-light" role="alert">
                      <strong>Prime*:</strong>
                      </div>
                      <div class="alert alert-info" role="alert">
                      <i>{{home.prime}}</i>
                      </div>
                          </div>
                      </div>



              	</form>

              <hr>

             </div><!--/tab-pane-->
            
