<div class="container">
<form id="contact-form" (ngSubmit)="f.form.valid && Editor() " #f="ngForm" novalidate  >
  <div [innerHTML]="htmlStr"></div>

  <div class="container-fluid bg-light ">
    <div class="container">
      <header class="header">
        <h1>Commentaire</h1>
      </header>
      <div class="form-group">
        <label for="nom"> Nom * </label><p></p>
        <input type="text" name="nom" placeholder="Nom *"  class="form-control" [(ngModel)]='editor.nom'
        required

        data-error="name is required."
        [ngClass]="{'is-invalid':f.submitted && nom.invalid}" #nom="ngModel"
         >
         <div *ngIf="f.submitted && nom.invalid" class="invalid-feedback">
                              <div *ngIf="nom.errors.required">ce champs est obligatoire </div>
                          </div>


         <br>
        <label for="commentaire"> Commentaire * </label><p></p>
        <angular-editor [(ngModel)]='editor.htmlContent' name="htmlContent"


required
        data-error="name is required."
               [ngClass]="{'is-invalid':f.submitted && htmlContent.invalid}" #htmlContent="ngModel"
                >
        </angular-editor>
        <div *ngIf="f.submitted && htmlContent.invalid" class="invalid-feedback">
                             <div *ngIf="htmlContent.errors.required">ce champs est obligatoire </div>
                         </div>

      </div>

    </div>
    <div class="col-md-12">
        <input type="submit" class="btn btn-primary btn-send"   value="Send message" >
    </div>
    <div class="row">
      <div class="col-md-12">
          <a routerLink="/notes">les commentaires </a>
      </div>
  </div>

  </div>

</form>
</div>


 
