<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<div class="w-100 pt-5  " >

<div class="container">
	<div class="row">
        <div class="col-md-12">

<div class="alert alert-secondary" role="alert">
        <h4>liste des fonctionnaires </h4>
				<div class="float-right">
         <a class="btn btn-light " ali  value="add new reunion" routerLink="/reunion" >
          <span class="fa fa-plus fa-2x" aria-hidden="true"></span>
         </a>
				</div><br>

				<div class="form-group has-search ">

          
					<input type="date" class="form-control" placeholder="search par nom de sujets "
[(ngModel)]='nom'  (input)="searchs()" />
				</div>
				</div>
      
        
        <div class="table-responsive">


              <table id="mytable" class="table table-bordred table-striped">

                   <thead>

                   <th class="alert alert-info">name</th>
									 <th class="alert alert-info">date de reunion </th>
                    <th class="alert alert-info">horaire</th>
                     <th class="alert alert-info">sujet</th>

                       <th  class="alert alert-secondary" >edit</th>
											 <th  class="alert alert-danger" >delete</th>
                       <th  class="alert alert-primary" >profils</th>
                   </thead>
    <tbody>


			<tr *ngFor="let reunion of reunions|  paginate:{ itemsPerPage: 6, currentPage:p } | orderBy:'id':true " >
    <td><i>{{ reunion.home.nom }}  </i></td>
    <td><i>{{reunion.date}}</i></td>
    <td><i>{{reunion.horaire}}</i></td>
    <td><i>{{reunion.sujet}}</i></td>

<!-- BUG: button edit -->
    <td><a  class="btn btn-secondary btn-xs"   routerLink="/reunion/{{reunion.id}}" >
			<span class="glyphicon glyphicon-edit"></span>	</a>
		</td>
<!-- BUG:  button delete -->



    <td>
			<button class="btn btn-danger btn-xs">
			<a data-placement="top" data-toggle="tooltip" title="Delete"  (click)="destroy(reunion.id)"
>	<span class="glyphicon glyphicon-trash"></span>

		</a></button>
	</td>
  <td>
    <a  class="btn btn-primary  btn-xs"   routerLink="/humain/{{reunion.id}}" >
			<span class="glyphicon glyphicon-eye-open"></span>	</a>
  </td>


    </tr>
    </tbody>

		<pagination-controls


		 (pageChange)=" p=$event">
		 </pagination-controls>



</table>

            </div>

        </div>
	</div>
</div>
</div>
