
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<div class="w-100 pt-5  " >

<div class="container">
	<div class="row">
        <div class="col-md-12">

<div class="alert alert-success" role="alert">
        <h4>liste des fonctionnaires </h4>
				<div class="float-right">
				 <a class="btn btn-warning " ali  value="add new reunion" routerLink="/ordre" > add nouveau</a>
				</div><br>

				<div class="form-group has-search ">
					<input type="text" class="form-control" placeholder="Search"
[(ngModel)]='home_id'  (input)="searchs()" />
				</div>
				</div>
        <div class="table-responsive">


              <table id="mytable" class="table table-bordred table-striped">

                   <thead>

                   <th class="alert alert-info">name</th>
									 <th class="alert alert-info">date </th>
                   <th class="alert alert-info">horaire</th>
                  <th class="alert alert-info">transport </th>
                  <th class="alert alert-info">lieu</th>
                  <th class="alert alert-info">sujet </th>
                       <th  class="alert alert-success" >edit</th>
											 <th  class="alert alert-danger" >delete</th>
                       <th  class="alert alert-primary" >list</th>

                   </thead>
                   <tbody>


                     <tr *ngFor="let ordre of ordres | paginate:{ itemsPerPage: 6, currentPage: p }">

                   <td><i>{{ordre.home.nom}} </i></td>
                   <td><i>{{ordre.date}}</i></td>
                   <td><i>{{ordre.horaire}}</i></td>
                   <td><i>{{ordre.transport}}</i></td>
                   <td><i>{{ordre.lieu}}</i></td>
                   <td><i>{{ordre.sujet}}</i></td>
                 <!-- BUG: button edit -->
                   <td><a  class="btn btn-success btn-xs"   routerLink="/ordre/{{ordre.id}}" >
                     <span class="glyphicon glyphicon-edit"></span>	</a>
                   </td>
                 <!-- BUG:  button delete -->



                   <td>
                     <button class="btn btn-danger btn-xs">
                     <a data-placement="top" data-toggle="tooltip" title="Delete"  (click)="destroy(ordre.id)"
                 >	<span class="glyphicon glyphicon-trash"></span>
                   </a></button>
                 </td>
                 <td>
                   <a class="btn btn-primary btn-xs"   routerLink="/te/{{ordre.id}}" >
                     <span class="glyphicon glyphicon-eye-open"></span>	</a>
                 </td>


                   </tr>
                   </tbody>
		<pagination-controls


		 (pageChange)=" p=$event">
		 </pagination-controls>



</table>
<div class="float-right">
 <a class="btn btn-warning btn-send" ali  value="add new reunion" routerLink="/welcome" > Accieul</a>
</div>
            </div>

        </div>
	
</div>
</div>
</div>
