
<div class="w-100 pt-5  " >

  <div class="container-fluid bg-light py-3">
      <form id="contact-form" (ngSubmit)="f.form.valid && saveConge()" #f="ngForm" novalidate >
          <div class="messages"></div>
          <div class="controls">
              <div class="row">
                  <div class="col-sm-4">
                      <div class="form-group">
                          <label for="form_name">datee *</label>
                          <input id="form_name" type="text" name="cin" class="form-control"
                           placeholder="cin *"
                           required
                                 [(ngModel)]='conge.cin'
                           data-error="name is required."
                         [ngClass]="{'is-invalid':f.submitted && cin.invalid}" #cin="ngModel"
                           >
                           <div *ngIf="f.submitted && cin.invalid" class="invalid-feedback">
                                                <div *ngIf="cin.errors.required">ce champs est obligatoire </div>
                                            </div>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                          <label for="form_name">PRENOM *</label>
                          <input id="form_name" type="text" name="Prenom"
                          [(ngModel)]='conge.prenom'
                           required
                           class="form-control" placeholder="Prenom*"
                           [ngClass]="{'is-invalid':f.submitted && prenom.invalid}" #prenom="ngModel"
                             >
                             <div *ngIf="f.submitted && prenom.invalid" class="invalid-feedback">
                                                  <div *ngIf="prenom.errors.required">ce champs est obligatoire </div>
                                              </div>
                      </div>
                  </div>

                  <div class="col-sm-4">
                      <div class="form-group">
                          <label for="form_name">Name *</label>
                          <input id="form_nom" type="text" name="nom"
                          class="form-control" placeholder="NOM *"
                          [(ngModel)]='conge.nom'
                          required
                          [ngClass]="{'is-invalid':f.submitted && nom.invalid}" #nom="ngModel"
                            >
                            <div *ngIf="f.submitted && nom.invalid" class="invalid-feedback">
                                                 <div *ngIf="nom.errors.required">ce champs est obligatoire </div>
                                             </div>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                          <label for="form_name"> Genre Congée *</label>
                          <select id="genreconge" class="form-control" placeholder="Genre Congée *"
                           [(ngModel)]='conge.genreconge' name="genreconge"

                           required
                         [ngClass]="{'is-invalid':f.submitted && genreconge.invalid}" #genreconge="ngModel"
                           >
                           <div *ngIf="f.submitted && genreconge.invalid" class="invalid-feedback">
                                                <div *ngIf="genreconge.errors.required">ce champs est obligatoire </div>
                                            </div>
                            <option selected>aucune </option>
                        <option value="mariage">4 jours ouvrables en cas de mariage ou remariage du salarié. </option>
                        <option value="naissance">3 jours ouvrables pour la naissance ou l’adoption d’un enfant au foyer du salarié. </option>
                        <option value="décès">2 jours ouvrables pour le décès d’un enfant ou de son conjoint (ou partenaire pacsé).</option>
                        <option value="mariage- ou-décès">1 jour ouvrable pour le mariage d’un enfant, le décès d’un ascendant proche ou frère ou sœur. </option>
                        <option value="paternité">11 jours calendaires pour le congé de paternité (qui se cumulent avec les 3 jours de naissance). </option>
                        <option value="malade des enfants">3 jours par an pour la garde d’un enfant malade de moins de 16 ans. </option>
                        <option value="malade des enfants mois de 1 an">5 jours par an pour la garde d’un enfant malade de moins de 1 an ou d’au moins trois enfants de moins de 16 ans. </option>
                              </select>

                      </div>
                  </div>

                  <div class="col-sm-4">
                      <div class="form-group">
                          <label for="form_email">Congés pour formation professionnel*</label>


                          <select id="congeformation" class="form-control" placeholder="Congés pour formation professionnel *"
                           [(ngModel)]='conge.congeformation' name="congeformation"
                           required
                         [ngClass]="{'is-invalid':f.submitted && congeformation.invalid}" #congeformation="ngModel"
                           >
                           <div *ngIf="f.submitted && congeformation.invalid" class="invalid-feedback">
                                                <div *ngIf="congeformation.errors.required">ce champs est obligatoire </div>
                                                </div>
                            <option selected>aucune </option>
                          <option value="congeentre">20 heures  en fonction de son entrée
                          effective dans l’entreprise et de la durée de son contrat. A partir du 1 er Janvier, </option>

                          <option value="congeindividuel">Congé Individuel de Formation (Jusqu’à un an).</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                          <label for="form_phone"> congés de citoyenneté *</label>
                          <select id="congscitoyen" class="form-control" placeholder="conge citoyen *"
                           [(ngModel)]='conge.congecitoyen '
                          name="congscitoyen "
                          required
                        [ngClass]="{'is-invalid':f.submitted && congecitoyen.invalid}" #congecitoyen="ngModel"
                          >
                          <div *ngIf="f.submitted && congecitoyen.invalid" class="invalid-feedback">
                                               <div *ngIf="congecitoyen.errors.required">ce champs est obligatoire </div>
                                               </div>
                            <option selected>aucune </option>

                        <option value="appel">en cas journée d’appel </option>
                        <option value="participation">en cas de la participation aux jurys de cour d’assises, </option>
                        <option value="conseillers">en cas du temps nécessaire à l’exercice des fonctions
                           de conseillers aux prud’hommes (ainsi que leur congé de formation),</option>
                        <option value="asbsence">en cas de l’absence autorisée pour l’exercice d’un mandat local (10 jours ouvrables lors de la campagne électorale…).</option>
                        <option value="paternité">11 jours calendaires pour le congé de paternité (qui se cumulent avec les 3 jours de naissance). </option>
                      </select>

                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="form-group">
                          <label for="form_date">Date de sorie *</label>
                          <input id="form_date" type="date" name="dates" class="form-control"
                          placeholder="Date de sorie *" [(ngModel)]='conge.dates'
                          required
                        [ngClass]="{'is-invalid':f.submitted && dates.invalid}" #dates="ngModel"
                          >
                          <div *ngIf="f.submitted && dates.invalid" class="invalid-feedback">
                                               <div *ngIf="dates.errors.required">ce champs est obligatoire </div>
                                               </div>

                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="form-group">
                          <label for="number">Le jour de sortie </label>
                          <input id="form_number" type="number" name="number1" class="form-control"
                          [(ngModel)]='conge.number1'  placeholder="Le jour de sortie *"
                          required
                        [ngClass]="{'is-invalid':f.submitted && number1.invalid}" #number1="ngModel"
                          >
                          <div *ngIf="f.submitted && number1.invalid" class="invalid-feedback">
                                               <div *ngIf="number1.errors.required">ce champs est obligatoire </div>
</div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="form-group">
                          <label for="form_datee">Date d'entre *</label>

                          <input id="form_datee" type="date" name="datee" class="form-control"
                          placeholder="Date d'entre *" [(ngModel)]='conge.datee'
                          required
                        [ngClass]="{'is-invalid':f.submitted && datee.invalid}" #datee="ngModel"
                          >
                          <div *ngIf="f.submitted && datee.invalid" class="invalid-feedback">
                                               <div *ngIf="datee.errors.required">ce champs est obligatoire </div>
</div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="form-group">
                          <label for="form_number2">le jour d'entrée *</label>
                          <input id="form_number2" type="number" name="number2"
                           class="form-control" placeholder="le jour d'entrée *"
                           [(ngModel)]='conge.number2'

                           required
                         [ngClass]="{'is-invalid':f.submitted && number2.invalid}" #number2="ngModel"
                           >
                           <div *ngIf="f.submitted && number2.invalid" class="invalid-feedback">
                                                <div *ngIf="number2.errors.required">ce champs est obligatoire </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                          <label for="form_phone">Resultats *</label>
                          <textarea class="form-control" cols="1" id="resultats"
                           name="resulats" rows="1"
                          [(ngModel)]='conge.resultats'
                          placeholder=" ce champs doit obligatoire reste vide*"
                          >
                            {{resultats}} </textarea>
                              <div class="help-block with-errors"></div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-md-12">
                  <input type="submit" class="btn btn-warning btn-send"   value="Send message" >
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <p class="text-muted"><strong>*</strong> These fields are required.</p>
              </div>
          </div>
      </form>
  </div>

</div>
