<div class="col-sm-4">
    <form class="form-group" #f="ngForm">
    <div>
        <label for="form_id">id</label>
        <input id="id" type="text" name="id"
        [(ngModel)]='get.id' (keyup.enter)="getOneReunion(f)"
         required
         class="form-control" placeholder="id*"
         [ngClass]="{'is-invalid':f.submitted && id.invalid}" #id="ngModel"
           >
      
           <div *ngIf="f.submitted && id.invalid" class="invalid-feedback">
                                <div *ngIf="id.errors.required">ce champs est obligatoire </div>
                            </div>
      </div>
                            
     <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="form_sujet">sujet *</label>
                                    <input class="form-control" cols="6" id="sujet"
                                     name="resulats" rows="6" 
                                    [(ngModel)]='get.sujet'
                                    placeholder=" ce champs doit obligatoire reste vide*"
                                    >
                                        <div class="help-block with-errors"></div>
                                </div>
                            
     </div>

                        

</form>
<div class="form-group">
    <label for="form_specialite">specialite *</label>
    <input id="form_specialite" type="text" name="specialite"
    [(ngModel)]='get.specialite'
     required
     class="form-control" placeholder="id*"
     [ngClass]="{'is-invalid':f.submitted && mois.invalid}" #mois="ngModel"
       >
       <div *ngIf="f.submitted && mois.invalid" class="invalid-feedback">
                            <div *ngIf="mois.errors.required">ce champs est obligatoire </div>
                        </div>
</div>
{{get | json}}



