<html>
<body>
    <div class="w-100 pt-5  " >
        <form  name="form"  (ngSubmit)="f.form.valid && saveAjoute()" #f="ngForm" novalidate>
      <div class="bg-light">
      
      
          <h1>Coordonnes</h1>
              <hr>
          <div class="form-row ">
            <div class="col-md-4 mb-3">
              <label for="validationDefault01">CIN</label>
              <input type="text" class="form-control" id="cin"
               placeholder="CIN" name="cin" [(ngModel)]='home.cin'
               [ngClass]="{'is-invalid':f.submitted && cin.invalid}" #cin="ngModel"
              required >
      
                <div *ngIf="f.submitted && cin.invalid" class="invalid-feedback">
                                     <div *ngIf="cin.errors.required">ce champs est obligatoire </div>
                                 </div>
            </div>
      
      
      
      
            <div class="col-md-4 mb-3">
              <label for="validationDefault02">nom</label>
              <input type="text" class="form-control" id="nom" placeholder="nom" name="nom" [(ngModel)]='home.nom'
      
      [ngClass]="{'is-invalid':f.submitted && nom.invalid}" #nom="ngModel" required >
      
       <div *ngIf="f.submitted && nom.invalid" class="invalid-feedback">
                            <div *ngIf="nom.errors.required">ce champs est obligatoire </div>
                        </div>
            </div>
      
            <div class="col-md-4 mb-3">
              <label for="validationDefault01">prenom</label>
              <input type="text" class="form-control" id="prenom" placeholder="prenom" name="prenom"  [(ngModel)]='home.prenom'
      
              [ngClass]="{'is-invalid':f.submitted && prenom.invalid}" #prenom="ngModel"
             required >
      
               <div *ngIf="f.submitted && prenom.invalid" class="invalid-feedback">
                                    <div *ngIf="prenom.errors.required">ce champs est obligatoire </div>
                                </div>
      
            </div>
          </div>
      
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationDefault03">Adresse</label>
              <input type="text" class="form-control" id="Adresse" placeholder="Adresse" name="adresse"  [(ngModel)]='home.adresse'
      
              [ngClass]="{'is-invalid':f.submitted && adresse.invalid}" #adresse="ngModel"
             required >
      
               <div *ngIf="f.submitted && adresse.invalid" class="invalid-feedback">
                                    <div *ngIf="adresse.errors.required">ce champs est obligatoire </div>
                                </div>
      
            </div>
            <div class="col-md-3 mb-3">
              <label for="validationDefault04">Date de naissance</label>
              <input type="date" class="form-control" id="date" placeholder="Date de naissance" name="date"  [(ngModel)]='home.date'
      
              [ngClass]="{'is-invalid':f.submitted && date.invalid}" #date="ngModel"
             required >
      
               <div *ngIf="f.submitted && date.invalid" class="invalid-feedback">
                                    <div *ngIf="date.errors.required">ce champs est obligatoire </div>
                                </div>
      
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationDefault01">telephone</label>
              <input type="tel" class="form-control" id="telephone"  name="telephone"  [(ngModel)]='home.telephone'
      
              [ngClass]="{'is-invalid':f.submitted && telephone.invalid}" #telephone="ngModel"
             required
      
       placeholder="06 23 23 23 23"  maxlength="10" minlength="9" pattern="[0-9]+"
             >
      
               <div *ngIf="f.submitted && telephone.invalid" class="invalid-feedback">
                                    <div *ngIf="telephone.errors.required">ce champs est obligatoire </div>
                                </div>
      
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationDefault01">situations</label>
              <select id="inputState" class="form-control" placeholder="situations" [(ngModel)]='home.situations' name="situations"
               id="situadtions"
      
               [ngClass]="{'is-invalid':f.submitted && situations.invalid}" #situations="ngModel"
               required >
      
                <div *ngIf="f.submitted && situations.invalid" class="invalid-feedback">
                                     <div *ngIf="situations.errors.required">ce champs est obligatoire </div>
                                 </div>
      
                <option selected>select situations...</option>
                <option value="célibataire">célibataire </option>
                <option value="Greater">divorcé</option>
                 <option value="Lesser">marié</option>
                  </select>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationDefault01">civilité</label>
              <select  class="form-control" placeholder="civilité" [(ngModel)]='home.civilite' name="civilite"  id="civilite"
      
              [ngClass]="{'is-invalid':f.submitted && civilite.invalid}" #civilite="ngModel"
              required >
      
               <div *ngIf="f.submitted && civilite.invalid" class="invalid-feedback">
                                    <div *ngIf="civilite.errors.required">ce champs est obligatoire </div>
                                </div>
      
      
                <option selected>select civilité...</option>
                 <option value="célibataire">Mr</option>
                 <option value="Greater">M.</option>
                   </select>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationDefault01">email</label>
      
      
                              <input type="text" class="form-control" name="email" [(ngModel)]='home.email'
                               #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                              <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                  <div *ngIf="email.errors.required">Email is required</div>
                                  <div *ngIf="email.errors.email">Email must be a valid email address</div>
                              </div>
      
      
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationDefault01">code postal</label>
              <input type="code" class="form-control" id="code" placeholder="code postal" name="code" [(ngModel)]='home.code'
      
              [ngClass]="{'is-invalid':f.submitted && code.invalid}" #code="ngModel"
              required >
      
               <div *ngIf="f.submitted && code.invalid" class="invalid-feedback">
                                    <div *ngIf="code.errors.required">ce champs est obligatoire </div>
                                </div>
      
      
            </div>
          </div>
      <h1>Départment</h1>
          <hr>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="validationDefault01">Departement</label>
              <select  class="form-control" placeholder="departement" [(ngModel)]='home.departement' name="departement"  id="departement"
      
              [ngClass]="{'is-invalid':f.submitted && departement.invalid}" #departement="ngModel"
              required >
      
               <div *ngIf="f.submitted && departement.invalid" class="invalid-feedback">
                                    <div *ngIf="departement.errors.required">ce champs est obligatoire </div>
                                </div>
      
      
      
                <option selected>Select Departemnt..</option>
                <option value="Administration">Administration </option>
                <option value="Commerciale">Commerciale</option>
                 <option value="Finance">Finance</option>
                 <option value="Ressource hummaines">Ressource hummaines</option>
                 <option value="Techique">Techique</option>
                   </select>
            </div>
      
                <div class="col-md-4 mb-3">
                  <label for="validationDefault01">duration</label>
                  <input type="text" class="form-control" id="duration" name="duration" [(ngModel)]='home.duration'
                  placeholder="duration"
                  [ngClass]="{'is-invalid':f.submitted && duration.invalid}" #duration="ngModel"
                  required >
      
                   <div *ngIf="f.submitted && duration.invalid" class="invalid-feedback">
                                        <div *ngIf="duration.errors.required">ce champs est obligatoire </div>
                                    </div>
                </div>
            <div class="col-md-4 mb-3">
              <label for="validationDefault01">lieu</label>
              <input type="text" class="form-control" id="lieu" name="lieu" [(ngModel)]='home.lieu' placeholder="lieu"
              [ngClass]="{'is-invalid':f.submitted && lieu.invalid}" #lieu="ngModel"
              required >
      
               <div *ngIf="f.submitted && lieu.invalid" class="invalid-feedback">
                                    <div *ngIf="lieu.errors.required">ce champs est obligatoire </div>
                                </div>
            </div>
      
            <div class="col-md-4 mb-3">
              <label for="validationDefault01">Mois</label>
              <input class="form-control" type="month" name="mois" id="mois" [(ngModel)]='home.mois' placeholder="Mois"
      
              [ngClass]="{'is-invalid':f.submitted && mois.invalid}" #mois="ngModel"
              required >
      
               <div *ngIf="f.submitted && mois.invalid" class="invalid-feedback">
                                    <div *ngIf="mois.errors.required">ce champs est obligatoire </div>
                                </div>
      
      
      
            </div>
      
          </div>
          <h1>Contrats</h1>
              <hr>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="validationDefault01">salaire de base</label>
              <input type="number" class="form-control" id="sl" name="sl" placeholder="salaire de base " [(ngModel)]='home.sl'
      
              [ngClass]="{'is-invalid':f.submitted && sl.invalid}" #sl="ngModel"
              required >
      
               <div *ngIf="f.submitted && sl.invalid" class="invalid-feedback">
                                    <div *ngIf="sl.errors.required">ce champs est obligatoire </div>
                                </div>
      
      
            </div>
            <div class="col-md-3 mb-3">
              <label for="validationDefault04">Date début</label>
              <input type="date" class="form-control" id="dated" placeholder="Date début" name="dated" [(ngModel)]='home.dated'
              [ngClass]="{'is-invalid':f.submitted && dated.invalid}" #dated="ngModel"
              required >
      
               <div *ngIf="f.submitted && dated.invalid" class="invalid-feedback">
                                    <div *ngIf="dated.errors.required">ce champs est obligatoire </div>
                                </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="validationDefault04">Date Fin </label>
              <input type="date" class="form-control" id="datef" placeholder="Date Fin " name="datef" [(ngModel)]='home.datef'
              [ngClass]="{'is-invalid':f.submitted && datef.invalid}" #datef="ngModel"
              required >
      
               <div *ngIf="f.submitted && datef.invalid" class="invalid-feedback">
                                    <div *ngIf="datef.errors.required">ce champs est obligatoire </div>
                                </div>
      
      
            </div>
          </div>
        <hr>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationDefault01">semaine</label>
            <input type="week" class="form-control" id="semaine" name="semaine" [(ngModel)]='home.semaine'
      
            [ngClass]="{'is-invalid':f.submitted && semaine.invalid}" #semaine="ngModel"
            required >
      
             <div *ngIf="f.submitted && semaine.invalid" class="invalid-feedback">
                                  <div *ngIf="semaine.errors.required">ce champs est obligatoire </div>
                              </div>
      
      
      
          </div>
      
            <div class="col-md-4 mb-3">
              <label for="validationDefault01">Type de Contrats</label>
              <select id="inputState" class="form-control" id="typ" name="typ" [(ngModel)]='home.typ'
      
              [ngClass]="{'is-invalid':f.submitted && typ.invalid}" #typ="ngModel"
              required >
      
               <div *ngIf="f.submitted && typ.invalid" class="invalid-feedback">
                                    <div *ngIf="typ.errors.required">ce champs est obligatoire </div>
                                </div>
                <option selected>select contrats...</option>
                  <option value="conntrats insertion a la vie professionelle">conntrats insertion a la vie professionelle </option>
                  <option value="contrat de stage">contrat de stage</option>
                   <option value="contrat à duré déterminé">contrat à duré déterminé </option>
                   <option value="contrat à duré indéterminé">contrat à duré indéterminé </option>
              </select>
      
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDefault01">Horaires </label>
            <select id="inputState" class="form-control" id="horaire" name="horaire" [(ngModel)]='home.horaire' id="horaire"
      
            [ngClass]="{'is-invalid':f.submitted && horaire.invalid}" #horaire="ngModel"
            required >
      
             <div *ngIf="f.submitted && horaire.invalid" class="invalid-feedback">
                                  <div *ngIf="horaire.errors.required">ce champs est obligatoire </div>
                              </div>
      
              <option selected>select horaires...</option>
              <option value="8:00-16:00">8:00-16:00</option>
              <option value="8:00-12:00/13:00-18:00">8:00-12:00/13:00-18:00</option>
              <option value="16:00-00:00">16:00-00:00</option>
            </select>
      
        </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationDefault01">Poste</label>
            <select id="inputState" class="form-control" placeholder="poste" [(ngModel)]='home.poste' name="poste" id="poste"
      
            [ngClass]="{'is-invalid':f.submitted && poste.invalid}" #poste="ngModel"
            required >
      
             <div *ngIf="f.submitted && poste.invalid" class="invalid-feedback">
                                  <div *ngIf="poste.errors.required">ce champs est obligatoire </div>
                              </div>
      
              <option selected>Choose...</option>
              <option value="directeur">directeur</option>
              <option value="directeur commerciale">directeur commerciale</option>
              <option value="responsable ressources hummaines">responsabler essources hummaines"</option>
                 <option value="ingénieur">ingénieur</option>
                 <option value="agentcomptable">agent comptable</option>
                 <option value="technicien">technicien</option>
                 <option value="secretaire">secretaire</option>
                 <option value="ouvrier">ouvrier</option>
            </select>
          </div>
      
      
      
      
        </div>
        <hr>
        <h1>paiement</h1>
      
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationDefault01">paie</label>
            <input type="number" class="form-control" id="paie" placeholder="paie" name="paie" [(ngModel)]='home.paie'
      
      
            [ngClass]="{'is-invalid':f.submitted && paie.invalid}" #paie="ngModel"
            required >
      
             <div *ngIf="f.submitted && paie.invalid" class="invalid-feedback">
                                  <div *ngIf="paie.errors.required">ce champs est obligatoire </div>
                              </div>
      
      
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDefault02">numero carte bancaire</label>
            <input type="number" class="form-control" id="numero " placeholder="numero carte bancaire" name="numero"[(ngModel)]='home.numero'
      
            [ngClass]="{'is-invalid':f.submitted && numero.invalid}" #numero="ngModel"
            required >
      
             <div *ngIf="f.submitted && numero.invalid" class="invalid-feedback">
                                  <div *ngIf="numero.errors.required">ce champs est obligatoire </div>
                              </div>
      
      
      
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDefault01">prime</label>
            <input type="number" class="form-control" id="prime" placeholder="prime" name="prime" [(ngModel)]='home.prime'
      
      
            [ngClass]="{'is-invalid':f.submitted && prime.invalid}" #prime="ngModel"
            required >
      
             <div *ngIf="f.submitted && prime.invalid" class="invalid-feedback">
                                  <div *ngIf="prime.errors.required">ce champs est obligatoire </div>
                              </div>
      
          </div>
        </div>
          <button class="btn   btn-primary" type="submit" >Ajouté</button>
          </div>
        </form>
      
      
      
      </div>
      


</body>

</html>

