<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<div class="w-100 pt-5  " >

<div class="container">
	<div class="row">
        <div class="col-md-12">
<div class="alert alert-secondary" role="alert">
        <h4>agenda congée </h4>

        <button (click)="exportAsXLSX()"><i class="fa fa-file-excel-o"
           style="font-size:20px;color:rgb(21, 255, 0)"></i></button>

				  <!-- Actual search box -->
          
          <div class="float-right">
            <a class="btn btn-light " ali  value="add new reunion" routerLink="/conge" >
              <span class="fa fa-plus fa-2x" aria-hidden="true"></span>

              
              </a>
           </div>
				  <div class="form-group has-search">
              <form   (ngSubmit)=" searchs()">
				    <input type="text" class="form-control fa fa-search" placeholder="Search"
[(ngModel)]='cin' name="cin"  />

<input type="date" class="form-control fa fa-search" placeholder="Search"
[(ngModel)]='date1' name="date1" />

<input type="date" class="form-control fa fa-search" placeholder="Search"
[(ngModel)]='date2' name="date2"  />

<div class="col-md-12">
    <input type="submit" class="btn btn-primary btn-send"   value="Send message" >
</div>

</form>
					</div>
        </div>
			
        <div class="table-responsive">


              <table id="mytable" class="table table-bordred table-striped">

                   <thead>
										 <th class="alert alert-info">id</th>


                   <th class="alert alert-info">CIN</th>
									 <th class="alert alert-info">Prenom</th>
                    <th class="alert alert-info">nom</th>
                     <th class="alert alert-info">genre cogée</th>
                     <th class="alert alert-info">congé formation </th>
                     <th class="alert alert-info" >congée citoyen</th>
                      <th class="alert alert-info" >date de sortie</th>
                       <th class="alert alert-info" >date d'entrée</th>
                        <th class="alert alert-info" >Nombre des jours </th>

                       <th  class="alert alert-secondary" >edit</th>
											 <th  class="alert alert-danger" >delete</th>
                       <th  class="alert alert-primary" >profils</th>
                   </thead>
    <tbody>


			<tr *ngFor="let conge of conges   | paginate:{ itemsPerPage: 6, currentPage: p} ; let i= index   ">

				<td><i>{{ i <1 }} </i> </td>

		<td><i>{{conge.cin}} </i></td>
		<td><i>{{conge.prenom}}</i></td>
    <td><i>{{conge.nom}}</i></td>
    <td><i>{{conge.genreconge}}</i></td>
    <td><i>{{conge.congeformation}}</i></td>
    <td><i>{{conge.congecitoyen}}</i></td>


  <td><i>{{conge.dates}}</i></td>
   <td><i>{{conge.datee}}</i></td>
    <td><i>{{conge.resultats}}</i></td>
<!-- BUG: button edit -->
    <td><button  class="btn btn-secondary btn-xs"   routerLink="/conge/{{conge.id}}" >
			<span class="glyphicon glyphicon-edit"></span>	</button>
		</td>
<!-- BUG:  button delete -->
    <td>
			<button class="btn btn-danger btn-xs">
			<a data-placement="top" data-toggle="tooltip" title="Delete"  (click)="destroy(conge.id)"
>	<span class="glyphicon glyphicon-trash"></span>
		</a></button>
	</td>
  <td>
    <a btn btn-primary btn-sm class="btn btn-primary btn-xs"   routerLink="/personne/{{conge.id}}" >
			<span class="glyphicon glyphicon-eye-open"></span>	</a>
  </td>


    </tr>
    </tbody>
		
</table>

<pagination-controls (pageChange)="p=$event">
</pagination-controls>

            </div>

        
	</div>
</div>
</div>
